<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1 style="position: relative;text-align: center;font-family:'Noto Sans';top: 35px">You entered incorrect data!Please retry your action again!</h1>
<div style="text-align: center;justify-content: space-between" class="float-1"><a href="/register" style="position: relative;text-align: center;top: 200px;font-style: italic;color: black;font-size:25px">Navigate to register</a></div>
<div style="text-align: center;justify-content: space-between" class="float-2"><a href="/register" style="position: relative;text-align: center;top: 250px;justify-content: space-between;font-style:italic;font-size: 25px;color: black">Navigate to login</a></div>

</body>
</html>