<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1 style="position: relative;text-align: center;font-family:'Noto Sans';top: 35px">Welcome to personel page <span th:text="${userLogin}"></span></h1>
<div style="text-align: center;justify-content: space-between" class="float-1"><a href="/" style="position: relative;text-align: center;top: 200px;font-style: italic;color: black;font-size:25px">Navigate to main</a></div>
</body>
</html>